$background-color: #282c34;
$link-color: #61dafb;

.root {
  text-align: center;
}

.header {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: $link-color;
}
