

.welcomePage {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  font-size: 21px;
  width: 70%;
  max-width: 700px;
}

.bannerLogo {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.bannedLogosContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.bannedLogos {
  margin-bottom: 10px;
}

